
.body{

}
.header{
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
}
.image{
	float:left;
	width: 20px;
	height: 100%;

}

.image img{
	padding-left: 20px;
	height: 100%
}
.txt{
	float=right;
	width: 80%
	height:100%
}
.table{
	margin-left: 20%;
	
}
.table td{
	float: right;
}

.opening{

}
.project{
	width: 100%;
	height:500px;
	background-color: #dbdbdb;
	padding-top: 20px;
}
.project content{
	
}
